<div>
  <div class="col-sm-4">
    <h3>{{ item.name }}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item active">Ingredients</li>
    <li class="list-group-item">aaa</li>
    <li class="list-group-item">bbb</li>
    <li class="list-group-item">ccc</li>
    <li class="list-group-item">ddd</li>
  </ul>
</div>
<br />
