<div class="col-sm-4">
  <div class="card" *ngIf="item.category != undefined">
    <div class="card-header">
      {{ item.category.name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.price }}</p>
      <button
        type="button"
        class="btn btn-sm btn-primary"
        [routerLink]="['/items', item.id]"
      >
        <details></details>
      </button>
    </div>
  </div>
</div>
