<div>
  <app-filter-category (filterEvent)="filterItem($event)"></app-filter-category>
</div>
<br />
<div>
  <div class="col-sm-4">
    <h3>Menu</h3>
  </div>
  <div>
    <div *ngFor="let item of items">
      <app-item [item]="item"></app-item>
    </div>
  </div>
  <!-- TODO -->
  <!-- disabled=if pageNo=0 || if pageNo=totalPages-1 -->
  <button class="btn btn-outline-secondary" (click)="prev()">prev</button>
  <button class="btn btn-outline-secondary" (click)="next()">next</button>
</div>
