<form class="form-horizontal">
  <div class="col-sm-4">
    <h3>Filter</h3>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1" for="input-category">Category</label>
    <div class="col-sm-4">
      <select
        class="form-control"
        name="input-category"
        id="input-category"
        placeholder="Category"
        [(ngModel)]="categoryFilter"
      >
        <option *ngFor="let category of categories" [ngValue]="category.name">
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>
  <button
    class="btn btn-outline-secondary"
    type="submit"
    (click)="filterItems()"
  >
    filter
  </button>
  <button class="btn btn-warning" type="submit" (click)="resetFilter()">
    reset
  </button>
</form>
