<form class="form-horizontal">
  <div class="col-sm-4">
    <h3>Filter</h3>
  </div>
  <div class="col-sm-4">
    <label class="sr-only" for="input-name">Name</label>
    <input
      name="input-name"
      type="text"
      class="form-control col-sm-4"
      id="input-name"
      placeholder="Name"
      [(ngModel)]="nameFilter"
    />
  </div>
  <button
    class="btn btn-outline-secondary"
    type="submit"
    (click)="filterItems()"
  >
    filter
  </button>
  <button class="btn btn-warning" type="submit" (click)="resetFilter()">
    reset
  </button>
</form>
