<form class="form-horizontal">
  <div class="col-sm-4">
    <h3>Add</h3>
  </div>
  <div class="col-sm-4">
    <label class="sr-only" for="input-name">Name</label>
    <input
      name="input-name"
      type="text"
      class="form-control col-sm-4"
      id="input-name"
      placeholder="Name"
      [(ngModel)]="newItem.name"
    />
  </div>
  <div class="col-sm-4">
    <label class="sr-only" for="inlineFormInput">Price</label>
    <input
      name="input-price"
      type="number"
      class="form-control col-sm-4"
      id="input-price"
      placeholder="Price"
      [(ngModel)]="newItem.price"
    />
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1" for="input-category">Category</label>
    <div class="col-sm-4">
      <select
        class="form-control"
        name="input-category"
        id="input-category"
        [(ngModel)]="newItem.categoryId"
      >
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>
  <button class="btn btn-outline-secondary" type="submit" (click)="resetItem()">
    reset
  </button>
  <button class="btn btn-outline-secondary" type="submit" (click)="addItem()">
    add
  </button>
</form>
