<div>
  <app-navbar (click)="logout()" [user]="user"></app-navbar>
</div>
<br />
<router-outlet></router-outlet>
<div *ngIf="user === null">
  <div>
    <app-login (loginEvent)="login($event)"></app-login> <br />
    <app-register (registerEvent)="register($event)"></app-register>
  </div>
  <br />
  <app-item-list-page></app-item-list-page>
</div>
<div *ngIf="user !== null">
  <app-edit-item-page></app-edit-item-page>
</div>
