<div>
  <app-filter-name (filterEvent)="filterItem($event)"></app-filter-name>
</div>
<br />
<div>
  <app-add-item-form
    (addEvent)="addItem($event)"
    [newItem]="newItem"
  ></app-add-item-form>
</div>
<br />
<div>
  <div>
    <div class="col-sm-4">
      <h3>List</h3>
    </div>
    <div *ngFor="let item of items; let i = index">
      <app-item [item]="item"></app-item>
      <div *ngIf="item.id != undefined">
        <button class="btn btn-outline-secondary" (click)="removeItem(item.id)">
          remove
        </button>
        <button class="btn btn-danger" (click)="editItem(item.id)">
          update
        </button>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-secondary" (click)="prev()">prev</button>
  <button class="btn btn-outline-secondary" (click)="next()">next</button>
</div>
