<form class="form-horizontal">
  <div class="col-sm-4">
    <h3>Log In</h3>
  </div>
  <div class="col-sm-4">
    <label class="sr-only" for="input-username">Username</label>
    <input
      name="input-username"
      type="text"
      class="form-control col-sm-4"
      id="input-username"
      placeholder="Username"
      [(ngModel)]="logCredentials.username"
    />
  </div>
  <div class="col-sm-4">
    <label class="sr-only" for="input-password">Password</label>
    <input
      name="input-password"
      type="text"
      class="form-control col-sm-4"
      id="input-password"
      placeholder="Password"
      [(ngModel)]="logCredentials.password"
    />
  </div>
  <button class="btn btn-outline-secondary" type="submit" (click)="login()">
    log in
  </button>
</form>
